{#
/**
 * @file badge_class.html.twig
 * Default theme implementation to present Badge class data.
 *
 * This template is used when viewing Badge class pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_badge_class()
 *
 * @ingroup themeable
 */
#}
<div>hello</div>
<div{{ attributes.addClass('badge_class') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
