
<div class="row">
    <div class="col-md-8">{{ content.main }}</div>
    <div class="col-md-2 accordion">{{ content.second }}</div>
    <div class="col-md-2 accordion">{{ content.third }}</div>
</div>